@model IEnumerable<IT_Norr.Models.Leave>

@{
    ViewData["Title"] = "Leave history list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<h2>Leaves´ status summary</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>   
                <td>
                    @Html.DisplayFor(modelItem => item.RequestStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                <td>                    
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div>
    <a asp-action="LeaveHistoryDetails">Back to previous page</a>
</div>

